package com.solvek.electricitynotifier

class Actuator {
    suspend fun notify(isOn: Boolean) =
        bot.send( TELEGRAM_CHAT_ID,
            (if (isOn) "\uD83D\uDCA1 #Увімкнено" else "\uD83D\uDE1E #Вимкнено") + " електроенергію")

    companion object {
        private const val TELEGRAM_API_TOKEN = "<Telegram token here>"
        private const val TELEGRAM_CHAT_ID = "<Chat id>"

        private val bot = TelegramBot(TELEGRAM_API_TOKEN)
    }
}