package com.solvek.electricitynotifier

class Actuator {
    suspend fun notify(isOn: Boolean, duration: Duration) =
        bot.send( TELEGRAM_CHAT_ID,
            (if (isOn) "\uD83D\uDCA1 #Увімкнено" else "\uD83D\uDE1E #Вимкнено") + " електроенергію"+
                    lasting(isOn, duration)+
                    "\r\n#електроенергія #група4"
        )

    private fun lasting(isOn: Boolean, duration: Duration): String {
        if (duration.inWholeHours > 1000){
            return ""
        }
        val minutes = duration.inWholeMinutes % 60
        return "\r\nТривалість ${if (isOn) "відключення" else "підключення"} ${duration.inWholeHours} год $minutes хв"
    }

    companion object {
        private const val TELEGRAM_API_TOKEN = "<Telegram token here>"
        private const val TELEGRAM_CHAT_ID = "<Chat id>"

        private val bot = TelegramBot(TELEGRAM_API_TOKEN)
    }
}